<h1>Add new Item</h1>
<%= form_for @todolist do |f| %>
	<%= f.label :task %>: <%= f.text_field :task %>
	<%= f.label :duedate %>: <%= f.date_select(:duedate, :order => [:month, :day, :year]) %>
	<%= f.submit "Add to list" %>
<% end %>